share/gui.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<!-- ############################################################### -->
<!-- I. Calculation Layer -->
<!-- ############################################################### -->

  <!-- ============================================================= -->
  <!-- I.1. Models -->
  <!-- ============================================================= -->

  <start>
    <element name="opsa-mef">
      <optional>
        <ref name="name"/>
      </optional>
      <optional>
        <ref name="label"/>
      </optional>
      <optional>
        <ref name="attributes"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="fault-tree-definition"/>
        </choice>
      </zeroOrMore>
      <optional>
        <element name="model-data">
          <zeroOrMore>
            <choice>
              <ref name="house-event-definition"/>
              <ref name="basic-event-definition"/>
            </choice>
          </zeroOrMore>
        </element>
      </optional>
    </element>
  </start>

  <define name="Identifier">
    <data type="NCName">
      <param name="pattern">[^\-.]+(-[^\-.]+)*</param>
    </data>
  </define>

  <define name="name">
    <attribute name="name"> <ref name="Identifier"/> </attribute>
  </define>

  <define name="reference">
    <attribute name="name">
      <ref name="Identifier"/>
    </attribute>
  </define>

  <define name="NonEmptyString">  <!-- Texts without LF and other special chars. -->
    <data type="normalizedString">
      <param name="minLength">1</param>
    </data>
  </define>

  <define name="label">
    <element name="label"> <ref name="NonEmptyString"/> </element>
  </define>

  <define name="attributes">
    <element name="attributes">
      <zeroOrMore>
        <element name="attribute">
          <ref name="name"/>
          <attribute name="value"> <ref name="NonEmptyString"/> </attribute>
          <optional>
            <attribute name="type"> <ref name="NonEmptyString"/> </attribute>
          </optional>
        </element>
      </zeroOrMore>
    </element>
  </define>


  <!-- ============================================================= -->
  <!-- I.2. Consequences, Consequence Groups -->
  <!-- ============================================================= -->


  <!-- ============================================================= -->
  <!-- I.3. Missions, Phases -->
  <!-- ============================================================= -->


<!-- ############################################################### -->
<!-- II. Event Tree Layer -->
<!-- ############################################################### -->

  <!-- ============================================================= -->
  <!-- II.1. Initiating events, Initiating event Groups -->
  <!-- ============================================================= -->


  <!-- ============================================================= -->
  <!-- II.2. Event Trees -->
  <!-- ============================================================= -->


  <!-- ============================================================= -->
  <!-- II.3. Instructions, Rules -->
  <!-- ============================================================= -->


<!-- ############################################################### -->
<!-- III. Meta-Logical Layer -->
<!-- ############################################################### -->

  <!-- ============================================================= -->
  <!-- III.1. CCF-Groups -->
  <!-- ============================================================= -->


  <!-- ============================================================= -->
  <!-- III.2. Substitutions -->
  <!-- ============================================================= -->


<!-- ############################################################### -->
<!-- IV. Fault Tree Layer -->
<!-- ############################################################### -->

  <!-- ============================================================= -->
  <!-- IV.1. Definitions of Fault Trees & Components -->
  <!-- ============================================================= -->

  <define name="fault-tree-definition">
    <element name="define-fault-tree">
      <ref name="name"/>
      <optional>
        <ref name="label"/>
      </optional>
      <optional>
        <ref name="attributes"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="event-definition"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="event-definition">
    <choice>
      <ref name="gate-definition"/>
      <ref name="house-event-definition"/>
      <ref name="basic-event-definition"/>
    </choice>
  </define>

  <!-- ============================================================= -->
  <!-- IV.2. Definitions of Gates, House Events & Basic Events -->
  <!-- ============================================================= -->

  <define name="gate-definition">
    <element name="define-gate">
      <ref name="name"/>
      <optional>
        <ref name="label"/>
      </optional>
      <optional>
        <ref name="attributes"/>
      </optional>
      <ref name="formula"/>
    </element>
  </define>

  <define name="house-event-definition">
    <element name="define-house-event">
      <ref name="name"/>
      <optional>
        <ref name="label"/>
      </optional>
      <optional>
        <ref name="attributes"/>
      </optional>
      <optional>
        <ref name="Boolean-constant"/>
      </optional>
    </element>
  </define>

  <define name="basic-event-definition">
    <element name="define-basic-event">
      <ref name="name"/>
      <optional>
        <ref name="label"/>
      </optional>
      <optional>
        <ref name="attributes"/>
      </optional>
      <optional>
        <ref name="expression"/>
      </optional>
    </element>
  </define>


  <!-- ============================================================= -->
  <!-- IV.3. Formulae -->
  <!-- ============================================================= -->

  <define name="formula">
    <choice>
      <ref name="event"/>
      <element name="and">
        <oneOrMore>
          <ref name="event"/>
        </oneOrMore>
      </element>
      <element name="or">
        <oneOrMore>
          <ref name="event"/>
        </oneOrMore>
      </element>
      <element name="not">
        <ref name="event"/>
      </element>
      <element name="xor">
        <oneOrMore>
          <ref name="event"/>
        </oneOrMore>
      </element>
      <element name="nand">
        <oneOrMore>
          <ref name="event"/>
        </oneOrMore>
      </element>
      <element name="nor">
        <oneOrMore>
          <ref name="event"/>
        </oneOrMore>
      </element>
      <element name="atleast">
        <attribute name="min"> <data type="nonNegativeInteger"/> </attribute>
        <oneOrMore>
          <ref name="event"/>
        </oneOrMore>
      </element>
    </choice>
  </define>

  <define name="event">
    <choice>
      <element name="event">
        <ref name="reference"/>
        <optional>
          <attribute name="type">
            <ref name="event-type"/>
          </attribute>
        </optional>
      </element>
      <ref name="gate"/>
      <ref name="house-event"/>
      <ref name="basic-event"/>
    </choice>
  </define>

  <define name="event-type">
    <choice>
      <value>gate</value>
      <value>basic-event</value>
      <value>house-event</value>
    </choice>
  </define>

  <define name="gate">
    <element name="gate">
      <ref name="reference"/>
    </element>
  </define>

  <define name="house-event">
    <element name="house-event">
      <ref name="reference"/>
    </element>
  </define>

  <define name="basic-event">
    <element name="basic-event">
      <ref name="reference"/>
    </element>
  </define>

  <define name="Boolean-constant">
    <element name="constant">
      <attribute name="value"> <data type="boolean"/> </attribute>
    </element>
  </define>


<!-- ############################################################### -->
<!-- V. Stochastic Layer -->
<!-- ############################################################### -->

  <!-- ============================================================= -->
  <!-- V.1. Definition of Parameters -->
  <!-- ============================================================= -->

  <!-- ============================================================= -->
  <!-- V.2. Expressions -->
  <!-- ============================================================= -->

    <!-- *********************************************************** -->
    <!-- V.2.1. Entities -->
    <!-- *********************************************************** -->

  <define name="expression">
    <choice>
      <ref name="constant"/>
      <ref name="built-in"/>
    </choice>
  </define>

  <define name="constant">
    <choice>
      <ref name="bool"/>
      <ref name="int"/>
      <ref name="float"/>
    </choice>
  </define>

  <define name="built-in">
    <choice>
      <ref name="exponential"/>
    </choice>
  </define>

    <!-- *********************************************************** -->
    <!-- V.2.2. Constants, Parameters -->
    <!-- *********************************************************** -->

    <define name="bool">
      <element name="bool">
        <attribute name="value"> <data type="boolean"/> </attribute>
      </element>
    </define>

    <define name="int">
      <element name="int">
        <attribute name="value">
          <data type="integer"/>
        </attribute>
      </element>
    </define>

    <define name="float">
      <element name="float">
        <attribute name="value">
          <data type="double"/>
        </attribute>
      </element>
    </define>

    <!-- *********************************************************** -->
    <!-- V.2.3. Numerical Expressions -->
    <!-- *********************************************************** -->


    <!-- *********************************************************** -->
    <!-- V.2.4. Boolean Expressions -->
    <!-- *********************************************************** -->


    <!-- *********************************************************** -->
    <!-- V.2.5. Conditional Expressions -->
    <!-- *********************************************************** -->


    <!-- *********************************************************** -->
    <!-- V.2.6. Built-ins -->
    <!-- *********************************************************** -->

    <define name="exponential">
      <element name="exponential">
        <ref name="expression"/>
        <ref name="expression"/>
      </element>
    </define>

    <!-- *********************************************************** -->
    <!-- V.2.7. Random-Deviates -->
    <!-- *********************************************************** -->


    <!-- *********************************************************** -->
    <!-- V.2.8. Test-Events -->
    <!-- *********************************************************** -->

</grammar>
